In [1]:
from pyspark.sql import SparkSession
import json
import pandas as pd
import re
spark = SparkSession \
    .builder \
    .master("local[4]")\
    .appName("Python Spark SQL basic example") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()\

In [2]:
def load_dict():
    df = pd.read_excel("Dic_2014.xlsx",  parse_cols='A,E')
    df['Word'] = df['Word'].astype(str)
    df['Score'] = df['Score'].astype(int)
    _dic = df.set_index('Word').T.to_dict('list')
    return _dic

In [3]:
def load_data(i):
    path ="12/"+i +"/*/*.json.bz2"
    twtr = spark.read.json(path)
    twtr = twtr.filter(twtr['lang'] == 'en')
    twtr_rdd = twtr.rdd
    return twtr_rdd

In [4]:
def follower_eva(NB,scores):
    scores['N'] = scores['N'] + NB
    return 0

In [5]:
def word_eva(clean_text,scores):
   
    scores['M'] = scores['M'] + 1
    list_words = clean_text.split(" ")
    for word in list_words:
        if word.upper() in senti_dic and senti_dic[word.upper()][0] >0:
            scores['P'] = scores['P'] +1
            return 0
        if word.upper() in senti_dic and senti_dic[word.upper()][0] <0:
            scores['N'] = scores['N'] + 1
            return 0
    return 0

In [6]:
def map_dict(x):
    score_dic = {'AMZN':{'M': 0,'P':0,'N':0},'IBM':{'M': 0,'P':0,'N':0},\
                 'TSLA':{'M': 0,'P':0,'N':0},"MSFT":{'M': 0,'P':0,'N':0},\
                 'VZ':{'M': 0,'P':0,'N':0}}
    #the part process ,
    in_str = str(x)
    
    clean_text = str(' '.join(re.sub("(@[A-Za-z0-9]+)|([^0-9A-Za-z \t])|(\w+:\/\/\S+)|(text=u)",\
                                     " ", x['text']).split()))
    
    #NB_fllw   = float(x['followers_count']) 
    for i in ["AMZN","IBM", "TSLA","VZ","MSFT"]:
        if i in clean_text:
           
           
            word_eva(clean_text,score_dic[i])
            #follower_eva(NB_fllw,score_dic[i])
            
            
    return score_dic

In [7]:
def reduce_dict(x,y):
    new_dict = x
    for i in x:
        for j in x[i]:
            new_dict[i][j] = x[i][j]+y[i][j]
    return new_dict

In [8]:
###################################Main################################################
date_list = ["01","02","03","04","05","06","07","08","09","10",\
                 "11","12","13","14","15","16","17","18","19","20","21","22","23",\
            "24","25","26","27","28","29","30","31"]

score_list = {}
for i in date_list:
    date = "12-" +i
    senti_dic = load_dict()
    twtr_rdd = load_data(i)
    final_score = twtr_rdd.map(map_dict).reduce(reduce_dict)
    score_list[date] = final_score

In [40]:
df = pd.DataFrame()
for i in score_list:
    seres = pd.DataFrame(score_list[i]['IBM'] , [i,])
    df = df.append(seres)
df=df.sort()

/home/liweihao/.local/lib/python2.7/site-packages/ipykernel/__main__.py:5: FutureWarning: sort(....) is deprecated, use sort_index(.....)

In [44]:
import statsmodels.formula.api as sm
import pandas_datareader.data as web
import datetime

In [46]:
start = datetime.datetime(2016, 12, 1)
end = datetime.datetime(2016, 12, 31)
f = web.DataReader("F", 'yahoo', start, end)
print type(f)

<class 'pandas.core.frame.DataFrame'>

In [41]:
df = df.drop(df.index[[2,3,9,10,16,17,23,24,25]])
df

         M   N   P
12-01  144  20  18
12-02  154  11  33
12-05   99   5  13
12-06  198  43  27
12-07  125  18  13
12-08  174  21  24
12-09  109  13  24
12-12   98  10  13
12-13  267  33  42
12-14  275  26  37
12-15  146   8  23
12-16  125   4  20
12-19  129  10  17
12-20   87  10  12
12-21  110  14  19
12-22   89   8  16
12-23   67   8  10
12-27   76  13  11
12-28  103   5  10
12-29   58   3   7
12-30   95  20  10
12-31   26   2   3